/
/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
/*atividade 12*/
html{
    background: #fbfcfd;
    color:#1f295c;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}


.page-wrapper{
width: 80%;
max-width: 1280px;
margin:auto;
}

#zen-intro{
    height:550px ;
}

p{
    text-indent: 1em;
}

h1,h2,h3 {
    text-align: center;
}

h1{font-size: 1.8em;}
h2{font-size: 1.4em;}
h3{font-size: 1.2em;}

.summary{text-align: right;}
.main p{line-height: 1.5;}
abbr{font-variant: small-caps;}
/*atividade 13*/

.main footer{
    border: solid 2px #1f295c;
    padding:0.5em;
    display: inline-block;
    
}

.main footer{
border: solid 2px #1f295c;
padding:0.5em;
display: inline-block;
}

.side ul{
    list-style-type: none;
}

aside ul li{
margin: 1em;
text-align: center;
}

.page-wrapper {
    width: 80%;
max-width: 1280px;
margin: auto;
}

#zen-intro{
    height: 550px;
    
}

#design-acrhives{
    display: none;
}

#zen-intro header {
    background-color: #1f295c;
    color: #fbfcfd;
}

#zen-intro header h1,#zen-intro header h2 {
    display: inline-block;

}

#zen-intro header h1{
    margin-left: 1em;
    margin-right: 1em;
}
/*atividade 14*/

page-wrapper{
    position: relative;
}

.explnation { 
width: 60%;
border-right: #1f295c solid 1px;
padding: 2%;

}

.desing-selection{
    position: absolute;
    top: 480px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
display: flex;
}
   
/*atividade 15*/
.supporting footer{
    display: flex;
    justify-content:space-evenly;
}

.benefits{
    display:flex;
    border-top: #1f295c solid 1px;
    border-bottom: #1f295c solid 1px;
}
.benefits h3{
    flex-basis: 70%;
}

.benefit h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}

.participation{
    display: flex;
    flex-wrap: wrap;
    border-top: #1f295c solid 1px;

}

.participation h3, .participation p{
    flex-basis: 50%;
}

.participation h3{
    align-self: center;
}

/*atividade 16*/
a{
    color: #ff1492;
}

.a :hover{
    color:#ff1492
}

.main p:first-of-type:first-letter{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    float:left;
}
 .design-selection li {
    border-top:#1f295c solid 1px;
    padding-top: 5px;
 }

 .design-selection li:last-of-type {
    border-bottom: #1f295c