:root {
    --color-primary-1: #0b0b64; /* Azul escuro */
    --color-neutral-1: #000; /* Preto */
    --color-primary-3: #0b0b64; /* Azul claro */
    --color-primary-4: #daa520; /* Amarelo dourado */
    --color-primary-5: #dadfe7; /* Cinza claro */
    --color-primary-6: #c18f00; /* Amarelo escuro */
    --color-neutral-0: #fff; /* Branco */
    --color-neutral-1: #1f1f1f; /* Cinza escuro */
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0); /* Branco */
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-4);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: var(--color-primary-1); /* Azul escuro */
}

.btn-default:hover {
    background-color: var(--color-primary-6);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-subtitle {
    color: var(--color-primary-4);
    font-size: 2.1875rem;
}
